* {
    margin: 0;
    padding: 0;
}

.container-sm {
    width: 800px;
    /* background-color: azure; */
}
.container-sm form {
    border: 1px solid lightgrey;
}

.container-sm form .btn, .output-sm button  {
    width: 200px;
}

.output-sm, .output-terimakasih {
    display: none;
}

#button-ck {
    display: none;
}

/* responsive */
@media screen and (max-width: 750px) {
    .row {
        display: block;
    }
}

@media screen and (max-width: 576px) {
    .container-sm {
        width: 80%;
    }
}
